
    

#image {
    background-image: url("/Backgrounds/landing.jpg");

padding: 30px;
background-size: cover;
margin: 100px;
color: white;
margin-bottom: 0;
text-align: center;


}
#Happy {
    margin: 100px;
    height: 100px;
    width: 300px;
    text-align: center;
    background-color: rgb(228, 210, 210);
    padding: 3opx;
    margin-top: 0;
    padding-right: 10px;
    margin-bottom: 0;
    margin-right: 0;
    
    
    
}
.note{
    flex-direction: row;
    display: flexbox;
}
#party {
    margin: 100px;
    height: 100px;
    width: 300px;
    text-align: center;
    background-color:rgb(218, 96, 47);
    margin-top: 0;
    color: white;
    margin-right: 0;
    
}
#breakfast {
    background-image: url("/foodtop/breakfast.jpg");
    height: 200px;
    width: 300px;
    margin-top: 0;
    margin: 100px;
    float: left;

}
#lunch {
    background-image: url("/foodtop/lunch.jpg");
    height: 200px;
    width: 300px;
    float: left;
    text-align: center;

}
#dinner {
    background-image: url("/foodtop/dinner.jpg");
    height: 200px;
    width: 300px;
    float: right;
    text-align: center;
}
img{
    margin-left: 50px;
}
.back {
    background-image: url("/Backgrounds/foodsBg.jpg");
    height: 400px;
    margin: 100px;
    background-size: cover;
}
table {
    padding: 10px;
    background-color: white;
    text-align: center;

}