#image {
    background-image: url("/Backgrounds/landing.jpg");

background-size: cover;
color: white;
padding-bottom: 20px;
text-align: center;
width: 100%;
}
.note {
    display: flex;
    flex-direction: row;
    position: absolute;
    border: 1px solid black;
    width: 100%;
    /* background-color: #F15A29;*/
    margin-right: 0px;
    top: 432px;
    left: 0px;
    height: 20%;
    
}
.note >div {
    border: 1px;
    width: 25%;
}
.time >div {
    display: flex;
    flex-direction: column;
    height: 50%;
    
}


#Happy {
    text-align: center;
    background-color: rgb(228, 210, 210);
    font-size: x-large;

    
}

#party {
    
    text-align: center;
    background-color:rgb(218, 96, 47);
    color: white;
    font-size: x-large;
    
}
#breakfast {
    background-image: url("/foodtop/breakfast.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
#lunch {
    background-image: url("/foodtop/lunch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: x-large;

}
#dinner {
    background-image: url("/foodtop/dinner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: antiquewhite;
    font-size: x-large;
}
.fast1{
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 5px 5px 5px solid rgb(19, 18, 18);
    flex-wrap: wrap;
    font-size: 15px;
    border: 1px solid grey;
}
.fast2{
    display: flex;
    padding: 20px;
    box-shadow: 5px 5px 5px solid rgb(19, 18, 18);
    flex-wrap: wrap;
    border: 2px solid grey;
}
.back {
    background-image: url("/Backgrounds/foodsBg.jpg");
    background-size: cover;
}
.front {
    padding: 10px;
    background-color: white;
    text-align: center;
    color: red


}
.foot {
    background-image: url("/Backgrounds/subscribe.jpg");
    background-size: cover;
    float: down;
    margin-bottom: 0;
    text-align: center;
}
.merge {
    flex: display;
}
.last {
    float: up;
    background-color: tomato;
    margin-top: 0;
    text-align: center;
}
th, td{
    padding: 10px;
}
th {
    border: 1px solid grey;
    background-color: grey;
}