#image {
    background-image: url("/Backgrounds/landing.jpg");

background-size: cover;
color: white;
padding-bottom: 20px;
text-align: center;
width: 100%;
margin-left: 10%;
margin-right: 10%;
}
.note {
    display: flex;
    flex-direction: row;
    position: absolute;
    border: 1px solid black;
    width: 100%;
    /* background-color: #F15A29;*/
    margin-right: 0px;
    top: 432px;
    left: 0px;
    height: 20%;
    margin-left: 10%;
    margin-right: 10%;
    
}
.note >div {
    border: 1px;
    width: 25%;
}
.time >div {
    display: flex;
    flex-direction: column;
    height: 50%;
    
}


#Happy {
    text-align: center;
    background-color: rgb(228, 210, 210);
    font-size: x-large;

    
}

#party {
    
    text-align: center;
    background-color:rgb(218, 96, 47);
    color: white;
    font-size: x-large;
    
}
#breakfast {
    background-image: url("/foodtop/breakfast.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
#lunch {
    background-image: url("/foodtop/lunch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: x-large;

}
#dinner {
    background-image: url("/foodtop/dinner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: antiquewhite;
    font-size: x-large;
}
main {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 900px;
    top: 700px;

}
.fast1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
   /* box-shadow: 5px 5px 5px solid rgb(19, 18, 18);
    font-size: 15px;
    border: 1px solid grey;*/
}
.cake {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 600px;
    border: 5px solid white;
    box-shadow: 0px 0px 5px grey;
    margin-right: 30px;
}
.fast2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    padding: 10px;
    text-align: right;
    
}
.drink2 {
    display: flex;
    flex-direction: row;
    height: 390px;
    width: 600px;
    border: 10px solid white;
    box-shadow: 0px 0px 5px black;
    margin-left: 30px;
}
    
 .back {
    background-image: url("/Backgrounds/foodsBg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    padding: 70px;
    opacity: 0.9;

}
.white {
    background-color: beige;
    margin: 20px;
}
.happy{
    display: flex;
    margin:4git0px;
    border: 10px solid white;
    box-shadow: 0px 0px 5px black;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}
.front {
    padding: 10px;
    background-color: white;
    text-align: center;
    color: red


}
.foot {
    background-image: url("/Backgrounds/subscribe.jpg");
    background-size: cover;
    text-align: center;

}
.merge {
    display:flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    flex-direction: column;
    margin-top: 2000px;



}
.last {
    background-color: tomato;
    text-align: center;
}
th, td{
    padding: 10px;
}
th {
    border: 1px solid grey;
    background-color: grey;
}  